/* NavBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 15px;
  background-color: #333;
  color: #fff;
  position: fixed; /* Fix the navbar position */
  width: 98%;
  background-color: #333;
  color: #fff;
  z-index: 999; /* Ensure it's above other content */
}


.contactUs {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.logo {
  font-size: 20px;
  text-decoration: none;
  margin-left: auto; /* Aligns the logo to the right */
}

.links {
  display: flex;
}

.links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}
